<footer class="bg-card-dark text-white pb-3 d-lg-block footer-style">
  <div
    class="bg-white text-card-dark rounded-bottom-5 mt-5 bg-card-dark h-30 d-block d-lg-none"
  >
    .
  </div>
  <div class="px-3">
    <div class="px-lg-10 pt-4">
      <div class="row align-items-center mb-5">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <p class="fw-bold mb-2 fs-3">Brilliant solutions for your ideas</p>
          <p class="text-white mb-0 fs-5">Modern looking websites.</p>
        </div>
        <div
          class="col-12 col-lg-6 d-block d-lg-flex justify-content-lg-end gap-3"
        >
          <button
            class="btn btn-light rounded-2 d-flex align-items-center gap-2 fw-bold px-4"
          >
            Purchase now
          </button>
        </div>
      </div>

      <hr class="text-secondary opacity-25" />

      <div class="row mb-5 text-center text-lg-start">
        <div class="col-12 col-lg-5 pe-lg-5 mb-5 mb-lg-0">
          <img
            src="/assets/odoo-logo-white.svg"
            alt="Odoo logo"
            height="35"
            class="d-inline-block align-text-top"
          />
          <p
            class="text-white mb-4 pe-lg-4 pt-3 mx-auto mx-lg-0"
            style="font-size: 0.9rem"
          >
            Odoo attempts to bring the best development experience to designers
            and developers by offering the tools needed for having a quick and
            solid start in most web projects.
          </p>

          <div
            class="d-flex justify-content-center justify-content-lg-start gap-4"
          >
            <a href="#" class="text-white-50"
              ><i class="bi bi-pinterest fs-5"></i
            ></a>
            <a href="#" class="text-white-50"
              ><i class="bi bi-github fs-5"></i
            ></a>
            <a href="#" class="text-white-50"
              ><i class="bi bi-twitter fs-5"></i
            ></a>
            <a href="#" class="text-white-50"
              ><i class="bi bi-facebook fs-5"></i
            ></a>
          </div>
        </div>
        <div class="col-6 col-lg-2 mb-4 mb-lg-0">
          <p class="fw-bold mb-4">Account</p>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Settings</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Billings</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Notifications</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-lg-2 mb-4 mb-lg-0">
          <p class="fw-bold mb-4">About</p>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Careers</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-4 mb-lg-0">
          <p class="fw-bold mb-4">Company</p>
          <ul class="navbar-nav">
            <li>
              <a href="#" class="nav-link">Community</a>
            </li>
            <li>
              <a href="#" class="nav-link">Help Center</a>
            </li>
            <li>
              <a href="#" class="nav-link">Support</a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="row pt-4 border-top border-secondary border-opacity-25 text-center text-lg-start flex-column flex-lg-row"
      >
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <p class="text-white mb-0">
            &copy; <span class="fw-bold text-white">Odoo</span>
            All rights reserved
          </p>
        </div>
        <div
          class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end gap-3 mb-3 mb-lg-0 order-1 order-lg-2"
        >
          <a href="#" class="nav-link">Terms</a>
          <a href="#" class="nav-link">Pricvacy</a>
          <a href="#" class="nav-link">Cookies</a>
        </div>
      </div>
    </div>
  </div>
</footer>
