<!-- SECTION CARD  -->
<div class="bg-primary text-white hero-style pb-10">
  <div class="pt-5">
    <div class="row align-items-center px-lg-10">
      <div class="col-12 col-lg-6 mb-5 mb-lg-0">
        <p class="display-4 fw-bold mb-4">Development<br />done right</p>
        <p
          class="mb-4 text-white-50"
          style="font-size: 1.1rem; max-width: 400px"
        >
          Build a beautiful, modern website with flexible components built from
          scratch.
        </p>
        <button
          class="btn btn-light text-primary rounded-2 d-inline-flex align-items-center gap-2 fw-bold px-4 py-2 mb-5"
        >
          Get started <span class="fs-5">+</span>
        </button>

        <div class="d-flex align-items-center gap-4 flex-wrap mt-3">
          <span class="small text-white-50">Trusted by:</span>
          <span class="fw-bold d-flex align-items-center gap-1"
            ><i class="bi bi-google"></i>Google</span
          >
          <span class="fw-bold d-flex align-items-center gap-1"
            ><i class="bi bi-spotify"></i>Spotify</span
          >
          <span class="fw-bold fs-5">airbnb</span>
          <span class="fw-bold d-flex align-items-center gap-1"
            ><i class="bi bi-paypal"></i>PayPal</span
          >
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          class="card bg-white border-0 shadow-lg p-4 text-dark"
          style="
            border-radius: 1.5rem 1.5rem 4.5rem 1.5rem;
            max-width: 420px;
            margin: 0 auto;
          "
        >
          <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="fw-bold" style="font-size: 0.85rem">Manage cards</p>
            <button
              class="btn btn-outline-secondary btn-sm px-3 rounded-2"
              style="font-size: 0.85rem"
            >
              Add new
            </button>
          </div>
          <div
            class="bg-card-dark text-white p-4 mb-4 shadow-sm"
            style="border-radius: 1rem"
          >
            <div class="d-flex justify-content-between align-items-start mb-4">
              <div class="d-flex">
                <a class="navbar-brand fw-fold fs-3" href="#">
                  <img
                    src="/assets/mastercard.svg"
                    alt="Odoo logo"
                    height="35"
                    class="d-inline-block align-text-top"
                  />
                </a>
              </div>
              <p
                class="badge bg-success text-success text-white border border-success border-opacity-25 px-2 py-1"
              >
                Active
              </p>
            </div>
            <p
              class="text-white-50 mb-1"
              style="font-size: 0.6rem; letter-spacing: 1px"
            >
              CARD NUMBER
            </p>
            <p class="mb-4" style="letter-spacing: 2px">
              4358 - 7421 - 9256 -6682
            </p>

            <div class="d-flex justify-content-between">
              <div>
                <p
                  class="text-white-50 mb-0"
                  style="font-family: 0.6rem; letter-spacing: 1px"
                >
                  NAME
                </p>
                <p class="mb-0 fw-bold small">John Snow</p>
              </div>
              <div>
                <p
                  class="text-white-50 mb-0"
                  style="font-family: 0.6rem; letter-spacing: 1px"
                >
                  EXPIRY DATE
                </p>
                <p class="mb-0 fw-bold small">11/23</p>
              </div>
            </div>
          </div>

          <div class="justify-content-between align-items-center mb-2">
            <div class="d-flex justify-content-between">
              <p class="mb-0 fw-bold">Starbucks</p>

              <span class="text-muted">$5,50 USD</span>
            </div>
            <p class="mb-0 text-muted" style="font-size: 0.85rem">
              Pending - San Francisco, United States
            </p>
            <hr
              class="text-secondary justify-content-between align-items-center mb-4"
            />

            <div class="d-flex justify-content-between">
              <p class="mb-0 fw-bold">Nike Sports</p>

              <span class="text-muted">$129,00 USD </span>
            </div>
            <p class="mb-0 text-muted" style="font-size: 0.85rem">
              Pending - Lisbon, Portugal
            </p>
            <hr
              class="text-secondary justify-content-between align-items-center mb-4"
            />

            <a href="#" class="text-decoration-underline text-primary"
              >View all</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION TOOLS -->
</div>


<!-- SECTION TOOLS -->
