<!-- SECTION CARD  -->
<div class="responsive-card hero-style pb-0 pb-lg-10">
  <div class="pt-5">
    <div class="row align-items-center px-4 px-lg-10 overflow-hidden">
      <div class="col-12 col-lg-6 mb-5 mb-lg-0">
        <p class="display-4 fw-bold mb-4">Development done right</p>
        <p class="mb-4" style="font-size: 1.1rem; max-width: 400px">
          Build a beautiful, modern website with flexible components built from
          scratch.
        </p>
        <button
          class="btn btn-responsive rounded-2 d-inline-flex align-items-center gap-2 fw-bold px-4 py-2 mb-5"
        >
          Get started <span class="fs-5">+</span>
        </button>

        <div class="d-flex align-items-center gap-4 flex-wrap mt-3">
          <span class="small">Trusted by:</span>
          <span class="fw-bold d-flex align-items-center gap-1"
            ><i class="bi bi-google"></i>Google</span
          >
          <span class="fw-bold d-flex align-items-center gap-1"
            ><i class="bi bi-spotify"></i>Spotify</span
          >
          <span class="fw-bold fs-5">airbnb</span>
          <span class="fw-bold d-flex align-items-center gap-1"
            ><i class="bi bi-paypal"></i>PayPal</span
          >
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          class="card bg-white border-0 shadow-lg p-4 text-dark"
          style="
            border-radius: 1.5rem 1.5rem 4.5rem 1.5rem;
            max-width: 420px;
            margin: 0 auto;
          "
        >
          <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="fw-bold" style="font-size: 0.85rem">Manage cards</p>
            <button
              class="btn btn-outline-secondary btn-sm px-3 rounded-2"
              style="font-size: 0.85rem"
            >
              Add new
            </button>
          </div>
          <div
            class="bg-card-dark text-white p-4 mb-4  "
            style="border-radius: 1rem"
          >
            <div class="d-flex justify-content-between align-items-start mb-4">
              <div class="d-flex">
                <a class="navbar-brand fw-fold fs-3" href="#">
                  <img
                    src="/assets/mastercard.svg"
                    alt="Odoo logo"
                    height="35"
                    class="d-inline-block align-text-top"
                  />
                </a>
              </div>
              <p
                class="badge bg-success text-success text-white border border-success border-opacity-25 px-2 py-1"
              >
                Active
              </p>
            </div>
            <p
              class="text-white-50 mb-1"
              style="font-size: 0.6rem; letter-spacing: 1px"
            >
              CARD NUMBER
            </p>
            <p class="mb-4" style="letter-spacing: 2px">
              4358 - 7421 - 9256 -6682
            </p>

            <div class="d-flex justify-content-between">
              <div>
                <p
                  class="text-white-50 mb-0"
                  style="font-family: 0.6rem; letter-spacing: 1px"
                >
                  NAME
                </p>
                <p class="mb-0 fw-bold small">John Snow</p>
              </div>
              <div>
                <p
                  class="text-white-50 mb-0"
                  style="font-family: 0.6rem; letter-spacing: 1px"
                >
                  EXPIRY DATE
                </p>
                <p class="mb-0 fw-bold small">11/23</p>
              </div>
            </div>
          </div>

          <div class="justify-content-between align-items-center mb-2">
            <div class="d-flex justify-content-between">
              <p class="mb-0 fw-bold">Starbucks</p>

              <span class="text-muted">$5,50 USD</span>
            </div>
            <p class="mb-0 text-muted" style="font-size: 0.85rem">
              Pending - San Francisco, United States
            </p>
            <hr
              class="text-secondary justify-content-between align-items-center mb-4"
            />

            <div class="d-flex justify-content-between">
              <p class="mb-0 fw-bold">Nike Sports</p>

              <span class="text-muted">$129,00 USD </span>
            </div>
            <p class="mb-0 text-muted" style="font-size: 0.85rem">
              Pending - Lisbon, Portugal
            </p>
            <hr
              class="text-secondary justify-content-between align-items-center mb-4"
            />

            <a href="#" class="text-decoration-underline text-primary"
              >View all</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SECTION TOOLS -->

<div class="py-5 my-5">
  <div class="px-4 px-lg-10">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 mb-5 mb-lg-0">
        <div
          class="card border border-light border-1 shadow-sm p-4 p-lg-5 rounded-3 position-relative mt-n4 mt-lg-n5"
        >
          <div style="width: 90%">
            <p class="fw-bold mb-4 display-6">Awesome Projects</p>
            <div class="mb-4 p-3">
              <p class="fw-bold mb-2" style="font-size: 0.95">
                Create the new logo
              </p>
              <div class="progress rounded-pill" style="height: 6px">
                <div class="progress-bar- bg-warning" style="width: 45%"></div>
              </div>
            </div>
            <div class="mb-4 p-3">
              <p class="fw-bold mb-2" style="font-size: 0.95">
                Set up the color palette
              </p>
              <div class="progress rounded-pill" style="height: 6px">
                <div class="progress-bar- bg-warning" style="width: 60%"></div>
              </div>
            </div>

            <div class="mb-2 p-3">
              <div
                class="d-flex justify-content-between align-items-center mb-2"
              >
                <span class="fw-bold" style="font-size: 0.95rem">
                  Wireframe and prototype</span
                >
                <span style="font-size: 0.86rem"
                  >6:50 <i class="bi bi-chevron-right small"></i
                ></span>
              </div>

              <div class="progress rounded-pill" style="height: 6px">
                <div class="progress-bar- bg-warning" style="width: 80%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-5 offset-lg-1 text-start mt-5 mt-lg-0">
        <span
          class="badge bg-warning text-white px-3 py-2 rounded-pill mb-4 fs-6"
        >
          Tools
        </span>
        <p class="display-5 mb-4">We build for designers and developers</p>
        <p
          class="text-muted fs-5 mb-3"
          style="max-width: 500px; margin: 0 auto"
        >
          Get components and examples, including tons of variables that will
          help you grow your bussines.
        </p>

        <div
          class="mt-4 mt-lg-5"
          style="width: 100%; max-width: 400px; z-index: 9999"
        >
          <div class="rounded-2 overflow-hidden shadow-sm position-relative">
            <img
              src="/assets/img_01.jpg"
              alt="Team working"
              height="55"
              class="img-fluid w-100"
              style="height: 200px; object-fit: cover"
            />
            <button
              class="btn btn-light position-absolute top-0 end-0 m-3 fw-bold shadow-sm d-flex align-items-center gap-2 rounded-3"
            >
              Play video <i class="bi bi-play-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<svg
  class="position-absolute"
  style="
    top: 167%;
    left: 25%;
    z-index: 0;
    pointer-events: none;
    width: 50%;
    height: 83%;
  "
  viewBox="0 0 500 800"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M0,0 C150,250 250,300 450,350"
    stroke="#ced4da"
    stroke-width="2"
    stroke-dasharray="6 8"
    fill="none"
  />

  <!--   <path
    d="M400,600 C300,750 250,850 100,1000"
    stroke="#ced4da"
    stroke-width="2"
    stroke-dasharray="6 8"
    fill="none"
  /> -->
</svg>

<!-- SECTION FEATURES -->

<div class="py-5 my-5 position-relative overflow-hidden">
  <div class="row px-4 px-lg-10 align-items-center">
    <div class="col-12 col-lg-5 mb-5 mb-lg-0">
      <span
        class="badge text-white px-3 py-2 rounded-pill mb-4 fs-6"
        style="background-color: #5ccaa7"
      >
        Features
      </span>

      <p class="display-6 mb-4">
        Get components and examples, including tons of variables that will help
        you grow your business.
      </p>

      <div class="d-flex flex-column gap-3">
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-check-circle-fill fs-5" style="color: #5ccaa7"></i>
          <p class="fw-medium mt-3" style="color: #5ccaa7">
            Perfect for modern startups
          </p>
        </div>
      </div>
      <div class="d-flex flex-column gap-3">
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-check-circle-fill fs-5" style="color: #5ccaa7"></i>
          <p class="fw-medium mt-3" style="color: #5ccaa7">
            Fully customizable and scalable
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 offset-lg-1">
      <div class="position-relative shadow-lg rounded-3 overflow-hidden;">
        <img
          src="/assets/img_02.jpg"
          alt="Team working"
          height="auto"
          class="img-fluid w-100"
          style="height: 450px; object-fit: cover"
        />
        <button
          class="btn btn-light position-absolute top-0 end-0 m-3 fw-bold shadow-sm d-flex align-items-center gap-2 rounded-3"
        >
          Play video <i class="bi bi-play-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Section technology -->

<svg
  class="position-absolute"
  style="
    top: 243%;
    left: 25%;
    z-index: 0;
    pointer-events: none;
    width: 50%;
    height: 83%;
    transform: scaleX(-1);
  "
  viewBox="0 0 500 800"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M0,0 C150,250 250,300 450,350"
    stroke="#ced4da"
    stroke-width="2"
    stroke-dasharray="6 8"
    fill="none"
  />
</svg>

<!-- section technology -->

<div class="py-5 my-5 position-relative overflow-hidden">
  <div class="px-4 px-lg-10 position-relative" style="z-index: 1">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 mb-5 mb-lg-0 order-2 order-lg-1">
        <div class="row g-4 align-items-center">
          <div class="col-12 col-sm-6">
            <div class="card border-0 shadow-sm rounded-2 overflow-hidden">
              <img
                src="/assets/person_03.jpg"
                alt="JH"
                style="height: 300px; object-fit: cover"
              />

              <div
                class="card-body d-flex align-items-center justify-content-between p-4"
              >
                <div class="d-flex align-items-center gap-2">
                  <div
                    class="rounded-circle bg-warning text-white d-flex align-items-center justify-content-center fw-bold"
                    style="width: 35px; height: 35px; font-size: 0.8rem"
                  >
                    JH
                  </div>
                  <span class="mb-0" style="font-size: 0.9">
                    Jimmy Hendrix</span
                  >
                </div>
                <i class="bi bi-heart" style="cursor: pointer"></i>
              </div>
            </div>

            <div
              class="card border-0 shadow-sm rounded4 p-3 d-lfex flex-row align-items-center gap-3 mt-5"
            >
              <div
                class="rounded-circle bg-success bg-opacity-50 text-white d-flex align-items-center justify-content-center flex shrink-0"
                style="width: 45px; height: 45px"
              >
                <i class="bi bi-check-lg fs-5"></i>
              </div>
              <div>
                <p class="mb-0" style="font-size: 0.95">300 + components</p>
                <p class="text-muted mb-0" style="font-size: 0.8rem">
                  Built to be customized
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 mt-sm-5">
            <div
              class="card border border-light border-1 shadow-sm rounded-3 mb-4 p-4 text-center d-flex flex-column justify-content-center"
              style="min-height: 290px"
            >
              <div class="mb-3 fs-4 fw-bold">
                <img
                  src="/assets/airbnb.svg"
                  alt="airbnb logo"
                  style="height: 50px"
                />
              </div>
              <div
                class="text-warining mb-2 fs-6 gap-1 d-flex justify-content-center"
              >
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star text-secondary"></i>
              </div>
              <p class="mb-1">4.95 out of 5 stars</p>
              <p class="text-muted mb-0">from 23 reviews</p>
            </div>

            <div
              class="card border border-light border-1 shadow-sm rounded-3 mb-4 p-4 text-center d-flex flex-column justify-content-center"
              style="min-height: 290px"
            >
              <div
                class="rounded-circle bg-dark text-white mx-auto d-flex align-items-center justify-content-center mb-3"
                style="width: 50px; height: 50"
              >
                <img
                  src="/assets/company_01.png"
                  class="rounded-circle"
                  alt="airbnb logo"
                  style="height: 50px"
                />
              </div>
              <div
                class="text-warining mb-2 fs-6 gap-1 d-flex justify-content-center"
              >
                <p class="mb-3">Website UI Kit</p>
              </div>

              <div class="d-flex justify-content-center m-b">
                <img
                  src="/assets/person_01.jpg"
                  alt="img"
                  class="rounded-circle border border-2 border-white"
                  style="
                    width: 37px;
                    height: 37px;
                    margin-right: -10px;
                    z-index: 3;
                  "
                />
                <img
                  src="/assets/person_02.jpg"
                  alt="img"
                  class="rounded-circle border border-2 border-white"
                  style="
                    width: 37px;
                    height: 37px;
                    margin-right: -10px;
                    z-index: 3;
                  "
                />
                <img
                  src="/assets/person_03.jpg"
                  alt="img"
                  class="rounded-circle border border-2 border-white"
                  style="
                    width: 37px;
                    height: 37px;
                    margin-right: -10px;
                    z-index: 3;
                  "
                />
              </div>
              <hr
                class="text-secondary justify-content-between align-items-center"
              />
              <div
                class="d-flex justify-content-center gap-4 text-muted small mt-auto pt-2"
              >
                <i class="bi bi-paperclip" style="cursor: pointer"></i>
                <i class="bi bi-eye" style="cursor: pointer"></i>
                <i class="bi bi-heart" style="cursor: pointer"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-lg-5 offset-lg-1 mt-5 mt-lg-0 text-lg-start order-1 order-lg-2 mb-6 mb-lg-0"
      >
        <span
          class="badge bg-primary text-white px-3 py-2 rounded-pill mb-4 fs-6"
          style="background-color: #5ccaa7"
        >
          Technology
        </span>

        <p class="display-5 mb-4 text-start">
          We use latest technologies on the market
        </p>

        <p
          class="text-muted fs-5 mb-4 text-start"
          style="max-width: 500px; margin: 0 auto 0 0"
        >
          Get components and examples, including tons of variables that will
          help you grow your business
        </p>
        <a
          href="#"
          class="text-primary text-decoration-none fw-medium pb-1"
          style="border-bottom: 2px solid #0d6efd"
          >See case studies</a
        >
      </div>
    </div>
  </div>
</div>

<svg
  class="position-absolute"
  style="
    top: 320%;
    left: 25%;
    z-index: 0;
    pointer-events: none;
    width: 50%;
    height: 83%;
  "
  viewBox="0 0 500 800"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M0,0 C150,250 250,300 450,350"
    stroke="#ced4da"
    stroke-width="2"
    stroke-dasharray="6 8"
    fill="none"
  />

  <!--   <path
    d="M400,600 C300,750 250,850 100,1000"
    stroke="#ced4da"
    stroke-width="2"
    stroke-dasharray="6 8"
    fill="none"
  /> -->
</svg>

<!-- section install -->

<div class="py-5 my-5 position-relative overflow-hidden">
  <div class="row px-4 px-lg-10 align-items-center">
    <div class="col-12 col-lg-5 mb-5 mb-lg-0">
      <span
        class="badge bg-warning text-white px-3 py-2 rounded-pill mb-4 fs-6"
      >
        Easy to install
      </span>

      <p class="display-6 mb-4">Download, intall and run.</p>
      <p
        class="text-muted fs-5 mb-4"
        style="max-width: 500px; margin: 0 auto 0 0"
      >
        Get components and examples, including tons of variables that will help
        you grow your business
      </p>

      <div class="d-flex flex-wrap gap-3">
        <a href="#" class="btn btn-dark btn-lg px-4 d-flex align-items-center">
          <i class="bi bi-apple me-2 fs-2"></i>
          <div class="text-start">
            <small class="d-block" style="font-size: 0.6rem"
              >Download on the
            </small>
            <strong>Appstore</strong>
          </div>
        </a>
        <a href="#" class="btn btn-dark btn-lg px-4 d-flex align-items-center">
          <i class="bi bi-google-play me-2 fs-2"></i>
          <div class="text-start">
            <small class="d-block" style="font-size: 0.6rem"
              >Download on the
            </small>
            <strong>Play store</strong>
          </div>
        </a>
      </div>
    </div>

    <div class="col-12 col-lg-6 offset-lg-1">
      <div class="position-relative shadow-lg rounded-3 overflow-hidden;">
        <img
          src="/assets/img_03.jpg"
          alt="Team working"
          height="auto"
          class="img-fluid w-100"
          style="height: 450px; object-fit: cover"
        />
        <button
          class="btn btn-light position-absolute top-0 end-0 m-3 fw-bold shadow-sm d-flex align-items-center gap-2 rounded-3"
        >
          Play video <i class="bi bi-play-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<svg
  class="position-absolute"
  style="
    top: 409%;
    left: 29%;
    z-index: 0;
    pointer-events: none;
    width: 50%;
    height: 40%;
    transform: scaleX(-1);
  "
  viewBox="0 0 500 800"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M0,0 C150,250 250,300 450,350"
    stroke="#ced4da"
    stroke-width="2"
    stroke-dasharray="6 8"
    fill="none"
  />
</svg>

<!-- section call to action  -->

<div class="px-lg-10 py-5 my-5">
  <div class="bg-card-dark text-white p-4 p-lg-5 shadow-lg banner-radius">
    <div class="row align-items-center p-lg-3">
      <div class="col-12 col-lg-8 mb-4 mb-lg-0">
        <p class="fw-bold mb-3 fs-2">Infinite solutions</p>
        <p
          class="text-white mb-0"
          style="max-width: 600px; line-height: 1.6rem; font-size: 0.95rem"
        >
          Intuitive markup, powerful and lightning-fast build tools, <br />
          everything you need to turn your ideas into incredible products.
        </p>
      </div>
      <div class="col-12 col-lg-4 text-start text-lg-end">
        <button
          class="btn btn-light text-dark fw-bold px-4 py-2 rounded-2 d-inline-flex align-items-center gap-2"
        >
          Learn more <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- section awards -->

<div class="bg-light py-5 my-5">
  <div class="mb-5 px-4 text-lg-start px-lg-10">
    <span class="badge bg-primary text-white px-3 py-2 rounded-pill mb-4 fs-6">
      Awards
    </span>
    <p class="fs-4">
      Awards for design, creativity, and innovation on the Internet
    </p>
  </div>

  <div class="row justify-content-center g-3 g-lg-4 px-3 px-lg-5">
    <div class="col-6 col-lg">
      <div
        class="card border border-light border-1 shadow-sm rounded-3 mb-4 p-4 text-center d-flex flex-column justify-content-center card-hover-lift"
        style="height: 285px; width: 100%"
      >
        <div class="mb-3 fs-4 fw-bold">
          <img
            src="/assets/airbnb.svg"
            alt="airbnb logo"
            style="height: 35px"
          />
        </div>
        <div
          class="text-warining mb-2 fs-6 gap-1 d-flex justify-content-center"
        >
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star text-secondary"></i>
        </div>
        <p class="mb-1">4.95 out of 5 stars</p>
        <p class="text-muted mb-0">from 23 reviews</p>
      </div>
    </div>
    <div class="col-6 col-lg">
      <div
        class="card border border-light border-1 shadow-sm rounded-3 mb-4 p-4 text-center d-flex flex-column justify-content-center card-hover-lift"
        style="height: 285px; width: 100%"
      >
        <div class="mb-3 fs-4 fw-bold">
          <img
            src="/assets/amazon.svg"
            alt="amazon logo"
            style="height: 35px"
          />
        </div>
        <div class="gap-1 justify-content-center">
          <p class="mb-2 text-muted" style="font-size: 0.85rem">
            They build modern looking websites easily using tabs.
          </p>
          <a
            href="#"
            class="text-secondary text-decoration-none fw-medium"
            style="border-bottom: 2px solid #6e6e6e"
            >Learn more</a
          >
        </div>
      </div>
    </div>
    <div class="col-6 col-lg">
      <div
        class="card border border-light border-1 shadow-sm rounded-3 mb-4 p-4 text-center d-flex flex-column justify-content-center card-hover-lift"
        style="height: 285px; width: 100%"
      >
        <div class="mb-3 fs-4 fw-bold">
          <img src="/assets/slack.svg" alt="amazon logo" style="height: 35px" />
        </div>
        <div class="gap-1 justify-content-center">
          <p class="mb-2 text-muted" style="font-size: 0.85rem">
            They build modern looking websites easily using Trello.
          </p>
          <a
            href="#"
            class="text-secondary text-decoration-none fw-medium"
            style="border-bottom: 2px solid #6e6e6e"
            >Learn more</a
          >
        </div>
      </div>
    </div>
    <div class="col-6 col-lg">
      <div
        class="card border border-light border-1 shadow-sm rounded-3 mb-4 p-4 text-center d-flex flex-column justify-content-center card-hover-lift"
        style="height: 285px; width: 100%"
      >
        <div class="mb-3 fs-4 fw-bold">
          <img
            src="/assets/spotify.svg"
            alt="airbnb logo"
            style="height: 35px"
          />
        </div>
        <div
          class="text-warining mb-2 fs-6 gap-1 d-flex justify-content-center"
        >
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star text-secondary"></i>
        </div>
        <p class="mb-1">4.95 out of 5 stars</p>
        <p class="text-muted mb-0">from 23 reviews</p>
      </div>
    </div>
    <div class="col-6 col-lg mx-auto mx-lg-0">
      <div
        class="card border border-light border-1 shadow-sm rounded-3 mb-4 p-4 text-center d-flex flex-column justify-content-center card-hover-lift"
        style="height: 285px; width: 100%"
      >
        <div class="mb-3 fs-4 fw-bold">
          <img
            src="/assets/paypal.svg"
            alt="amazon logo"
            style="height: 35px"
          />
        </div>
        <div class="gap-1 justify-content-center">
          <p class="mb-2 text-muted" style="font-size: 0.85rem">
            They build modern looking websites easily using Docker.
          </p>
          <a
            href="#"
            class="text-secondary text-decoration-none fw-medium"
            style="border-bottom: 2px solid #6e6e6e"
            >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section FAQ -->

<div class="py-5 my-5 px-4 px-lg-10">
  <div class="text-center mb-5">
    <p class="fw-bold display-6 mb-3">Helpful answers</p>
    <p class="text-muted">
      Start building fast, beautiful, and modern-looking websites in no time.
    </p>
  </div>

  <div class="row g-3 mb-5 accordion" id="faqAccordion">
    <div class="col-12">
      <div class="card border border-light shadow-sm rounded-3">
        <div
          class="p-3 d-flex align-items-center justify-content-between"
          data-bs-toggle="collapse"
          data-bs-target="#faq1"
          role="button"
          aria-expanded="false"
          style="cursor: pointer"
        >
          <div class="d-flex align-items-center gap-3">
            <i class="bi bi-file-earmark fs-5"></i>
            <span class="fw-medium">Which license do I need?</span>
          </div>
          <i class="bi bi-plus fs-4 text-muted faq-icon"></i>
        </div>
        <div
          class="p-3 pt-0 text-muted accordion-collapse collapse"
          data-bs-parent="#faqAccordion"
          id="faq1"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat
          omnis officia, dolorem blanditiis rerum quas minima sit fugiat, nihil
          maiores voluptas recusandae eligendi mollitia repudiandae, voluptatem
          incidunt porro facere architecto?
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card border border-light shadow-sm rounded-3">
        <div
          class="p-3 d-flex align-items-center justify-content-between"
          data-bs-toggle="collapse"
          data-bs-target="#faq2"
          role="button"
          aria-expanded="false"
          style="cursor: pointer"
        >
          <div class="d-flex align-items-center gap-3">
            <i class="bi bi-unlock fs-5"></i>
            <span class="fw-medium">How do I get access to my database?</span>
          </div>
          <i class="bi bi-plus fs-4 text-muted faq-icon"></i>
        </div>
        <div
          class="p-3 pt-0 text-muted accordion-collapse collapse"
          data-bs-parent="#faqAccordion"
          id="faq2"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat
          omnis officia, dolorem blanditiis rerum quas minima sit fugiat, nihil
          maiores voluptas recusandae eligendi mollitia repudiandae, voluptatem
          incidunt porro facere architecto?
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card border border-light shadow-sm rounded-3">
        <div
          class="p-3 d-flex align-items-center justify-content-between"
          data-bs-toggle="collapse"
          data-bs-target="#faq3"
          role="button"
          aria-expanded="false"
          style="cursor: pointer"
        >
          <div class="d-flex align-items-center gap-3">
            <i class="bi bi-folder fs-5"></i>
            <span class="fw-medium">How do I see previous orders?</span>
          </div>
          <i class="bi bi-plus fs-4 text-muted faq-icon"></i>
        </div>
        <div
          class="p-3 pt-0 text-muted accordion-collapse collapse"
          data-bs-parent="#faqAccordion"
          id="faq3"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat
          omnis officia, dolorem blanditiis rerum quas minima sit fugiat, nihil
          maiores voluptas recusandae eligendi mollitia repudiandae, voluptatem
          incidunt porro facere architecto?
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5 pt-3">
    <p class="text-muted mb-4">I want to start a new project.</p>

    <div class="d-flex justify-content-center align-items-center gap-4">
      <button
        class="btn btn-primary px-4 py-2 rounded-2 fw-medim d-flex align-items-center gap-2"
      >
        Buy now <i class="bi bi-arrow-right"></i>
      </button>
      <a href="#" class="text-dark text-decoration-none fw-medium">
        Learn More</a
      >
    </div>
  </div>
</div>
